$ffbase: inter, sans-serif;
$colorgreen: #21b672;
$colorgreen_hover: #18995e;
$colorgrey: #7c8ca4;
$colornavy: #32335c;
$colornavy_hover: #232446;
$colordarkgrey: #51525d;
$colordarkgrey_hover: #6e6f7d;