.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #e3e6e9;

    @media(max-width: 900px) {
        &.opened {
            .header__wrap {
                display: flex;
                height: calc(100vh - 66px);
                overflow: auto;
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }

            .header__open {
                background: url(../../../img/svg/close_grey_20x20.svg) center no-repeat;
            }
        }
    }

    &-container {
        height: 65px;
    }

    .btn {
        @media(max-width: 900px) {
            margin: auto auto auto 0;
        }
    }

    .container {
        display: flex;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &__open {
        display: none;

        @media(max-width: 900px) {
            box-sizing: border-box;
            display: block;
            width: 42px;
            height: 42px;
            overflow: auto;
            border: 2px solid #e3e6e9;
            margin-left: auto;
            background: url(../../../img/svg/burger_grey_24x16.svg) center no-repeat;
            border-radius: 8px;
        }
    }

    &__logo {
        flex-shrink: 0;
        width: 134px;
        height: 40px;
        background: url(../../../img/svg/logo.svg) no-repeat;
        background-size: contain;
    }

    &__wrap {
        display: flex;
        flex-grow: 1;
        align-items: center;

        @media(max-width: 900px) {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            position: absolute;
            top: 66px;
            left: 0;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding: 10px 30px 30px;
            transition: all 200ms linear;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            background: #ffffff;
            border-top: 1px solid #e3e6e9;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        margin: auto;

        @media(max-width: 900px) {
            flex-direction: column;
            align-items: stretch;
            margin: 0 0 30px;
        }

        .menu__entry {
            position: relative;
            margin: 0 20px;
            padding: 10px 0;

            @media(max-width: 900px) {
                margin: 0;
                padding: 0;
                border-bottom: 1px solid #e3e6e9;
            }

            @media(min-width: 901px) {
                &:hover {
                    .header__submenu {
                        transform: translate(-50%, 0);
                        opacity: 1;
                        visibility: visible;
                        pointer-events: all;
                    }
                }
            }
        }

        .menu__lnk {

            @media(max-width: 900px) {
                display: block;
                padding: 25px 0;
            }
        }

        .menu__dropdown {
            display: none;

            @media(max-width: 900px) {
                display: block;
                position: absolute;
                z-index: 10;
                top: 0;
                right: -30px;
                width: 60px;
                height: 60px;
                background: url(../../../img/svg/arr_black_12x8.svg) center no-repeat;
            }
        }
    }

    &__submenu {
        position: absolute;
        top: 35px;
        left: 50%;
        padding-top: 20px;
        transform: translate(-50%, 30px);
        transition: all 200ms linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        @media(max-width: 900px) {
            display: none;
            position: static;
            padding: 0;
            transform: translate(0);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }

        .submenu__inner {
            display: flex;
            padding: 30px 32px;
            background: #ffffff;
            box-shadow: 0 10px 30px rgba(27, 42, 55, 0.3);

            @media(max-width: 900px) {
                flex-direction: column;
                padding: 0 0 20px;
                box-shadow: none;
            }
        }

        .submenu__list {
            &:before {
                content: "";
                position: absolute;
                top: 10px;
                right: 0;
                left: 0;
                width: 20px;
                height: 20px;
                margin: auto;
                transform: rotate(45deg);
                background: #ffffff;
            }

            &:first-child {
                margin: 0 22px 0 0;
            }
        }

        .submenu__entry {
            white-space: nowrap;
            min-width: 50%;
        }

        .submenu__lnk {
            display: block;
            padding: 8px;
            font-size: 16px;

            @media(max-width: 900px) {
                padding: 12px 0;
            }
        }
    }

    &__lang {
        position: relative;
        margin: 0 30px 0 0;

        @media(max-width: 900px) {
            order: 5;
        }

        @media(min-width: 901px) {
            &:hover {
                .lang__dropdown {
                    transform: translate(-50%, 0);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }

        .lang__title {
            display: block;
            padding: 10px 0;
            font-size: 16px;
            line-height: 19px;

            @media(max-width: 900px) {
                display: none;
            }
        }

        .lang__dropdown {
            position: absolute;
            top: 35px;
            left: 50%;
            padding-top: 20px;
            transform: translate(-50%, 30px);
            transition: all 200ms linear;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            @media(max-width: 900px) {
                position: static;
                transform: translate(0);
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }

        .lang__list {
            padding: 30px 32px;
            background: #ffffff;
            box-shadow: 0 10px 30px rgba(27, 42, 55, 0.3);

            @media(max-width: 900px) {
                display: flex;
                align-items: center;
                padding: 0;
                box-shadow: none;
            }

            &:before {
                content: "";
                position: absolute;
                top: 10px;
                right: 0;
                left: 0;
                width: 20px;
                height: 20px;
                margin: auto;
                transform: rotate(45deg);
                background: #ffffff;
            }
        }

        .lang__lnk {
            display: block;
            padding: 8px;
            font-size: 16px;
        }
    }
}