-
    var menu = [{
        name: 'Направления',
        link: 'dirs.html',
        list1: [['DevOps', 'devops.html'], ['Clickhouse', 'clickhouse.html'], ['Yandex Cloud', 'yandex.html'], ['Kubernetes', 'kubernetes.html'], ['Администрирование Linux', 'linux.html']],
        list2: [['Mysql', 'mysql.html'], ['Google Cloud', 'google.html'], ['Docker Swarm', 'docker.html']],
    }, {
        name: 'Кейсы',
        link: 'cases.html',
    }, {
        name: 'О нас',
        link: 'about.html',
    }, {
        name: 'Контакты',
        link: 'contacts.html',
    }, ]


.header-container
    header.header
        .container
            a.header__logo(href='/')
            a.header__open.js-header-toggle(href='#')
            .header__wrap
                ul.header__menu
                    each entry in menu
                        li.menu__entry
                            a.menu__lnk(href=entry.link)=entry.name
                            - if (entry.list1 && entry.list2)
                                a.menu__dropdown(href='#')
                                .header__submenu
                                    .submenu__inner
                                        ul.submenu__list
                                            each child in entry.list1
                                                li.submenu__entry
                                                    a.submenu__lnk(href=child[1])=child[0]
                                        ul.submenu__list
                                            each child in entry.list2
                                                li.submenu__entry
                                                    a.submenu__lnk(href=child[1])=child[0]
                .header__lang
                    a.lang__title(href='#') Ru
                    .lang__dropdown
                        ul.lang__list
                            each entry in ['Ru', 'En']
                                li.lang__entry
                                    a.lang__lnk(href='#')=entry

                button.btn.btn_green.js-modal-open(data-modal='modal-request') Оставить заявку