.steps {
    color: #1b2331;
    padding: 120px 0 140px;

    @media(max-width: 1300px) {
        padding: 80px 0;
    }

    @media(max-width: 960px) {
        padding: 60px 0;
    }

    @media(max-width: 400px) {
        padding: 40px 0;
    }

    .steps__head {
        display: flex;
        align-items: flex-end;
        margin: 0 0 110px;

        @media(max-width: 960px) {
            flex-direction: column;
            align-items: stretch;
            margin: 0 0 40px;
        }

        .head__left {
            width: 48%;
            font-size: 20px;
            line-height: 32px;

            @media(max-width: 1300px) {
                font-size: 16px;
                line-height: 24px;
            }

            @media(max-width: 960px) {
                width: 100%;
                font-size: 14px;
                line-height: 20px;
            }
        }

        .head__right {
            width: 45%;
            margin-left: auto;

            @media(max-width: 960px) {
                width: 100%;
                margin: 25px 0 0;
            }
        }
    }

    .steps__title {
        margin: 0 0 50px;
        font-weight: 600;
        font-size: 42px;
        line-height: 51px;
        color: #1b2331;

        @media(max-width: 1300px) {
            margin: 0 0 35px;
            font-size: 36px;
            line-height: 42px;
        }

        @media(max-width: 767px) {
            margin: 0 0 30px;
            font-size: 32px;
            line-height: 40px;
        }

        @media(max-width: 400px) {
            margin: 0 0 20px;
            font-size: 24px;
            line-height: 36px;
        }
    }

    .steps__features {
        .features__entry {
            position: relative;
            margin: 30px 0 0;
            padding: 0 0 0 64px;
            font-size: 16px;
            line-height: 24px;

            @media(max-width: 767px) {
                font-size: 14px;
                line-height: 21px;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 40px;
                background: url(../../../img/svg/check_purple_40x40.svg) no-repeat;
                background-size: contain;
            }

            &:first-child {
                margin: 0;
            }

            span {
                margin: 0 0 10px;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #1b2331;
            }
        }
    }

    .steps__list {
        position: relative;

        @media(max-width: 960px) {
            padding-left: 40px;
            
            &:after {
                right: auto;
                left: 10px;
            }
        }

        @media(max-width: 400px) {
            padding-left: 10px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 60px;
            right: 0;
            bottom: 80px;
            left: 0;
            width: 2px;
            margin: 0 auto;
            background: url(../../../img/svg/line.svg) repeat-y;

            @media(max-width: 540px) {
                bottom: 90px;
            }

            @media(max-width: 400px) {
                left: -4px;
            }
        }
    }

    .steps__entry {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin: 0 0 30px;
        padding: 30px 15px 30px 25px;
        font-size: 16px;
        line-height: 24px;
        color: #1b2331;
        background: #ffffff;
        box-shadow: 0 20px 40px rgba(2, 54, 97, 0.2);
        border-radius: 4px;

        @media(max-width: 1300px) {
            margin: 0 0 15px;
            padding: 25px;
        }

        @media(max-width: 960px) {
            width: 100%;
        }

        @media(max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &:before {
            content: "";
            position: absolute;
            z-index: 10;
            top: 0;
            right: -12px;
            bottom: 0;
            width: 24px;
            height: 24px;
            margin: auto;
            background: url(../../../img/svg/round_24x24.svg) no-repeat;

            @media(max-width: 960px) {
                right: auto;
                left: -40px !important;
            }

            @media(max-width: 400px) {
                left: -25px !important;
            }
        }

        .entry__icon {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 64px;
            height: 64px;
            margin: 0 25px 0 0;
            background: #deeaf4;
            border-radius: 10px;

            @media(max-width: 767px) {
                width: 50px;
                height: 50px;
                margin: 0 0 15px;
            }
        }

        p {
            @media(max-width: 767px) {
                font-size: 14px;
                line-height: 20px;
            }
        }

        .entry__title {
            margin: 0 0 10px;
            font-weight: 600;

            @media(max-width: 400px) {
                font-size: 14px;
                line-height: 20px;
            }

            &:only-child {
                margin: 0;
            }
        }

        &-outer {
            box-sizing: border-box;
            position: relative;
            width: 50%;
            padding: 0 100px 0 0;

            &:nth-child(even) {
                padding: 0 0 0 100px;
                margin-left: auto;

                .steps__entry {
                    &:before {
                        right: auto;
                        left: -12px;
                    }
                }
            }

            @media(max-width: 960px) {
                width: 100%;
                margin: 0 !important;
                padding: 0 !important;
            }
        }

        &:nth-child(3) {
            .entry__icon {
                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 25px;
                    height: 25px;
                    background: url(../../../img/svg/tg_25x25.svg) no-repeat;
                }
            }
        }
    }
}