.steps
    .container
        .steps__head
            .head__left
                .steps__title Как работает Fevlake?
                p IT-инфраструктура на аутсорсе - это не цель наших заказчиков, но Fevlake является оптимальным решением. Мы понимаем, что перейти на аутсорс - это волнительное и важное решение для бизнеса. Поэтому мы сделали все, для того чтобы весь процесс был максимально прозрачным.
            .head__right
                .steps__features
                    each entry in [['Поддержка 24/7', 'Получаем инциденты от систем мониторинга 24/7 <br>и сами подключаемся к решению проблемы'], ['SLA', 'Среднее время реакции 5 минут']]
                        .features__entry
                            span=entry[0]
                            p!=entry[1]
        .steps__list
            each entry, index in [['Утверждаем Road Map и бюджет', ''], ['Утверждаем тимлида для вашего проекта', 'На каждый проект мы выделяем персонального Team Lead'], ['Подключаем вас в наш Slack <br>для оперативного общения', 'Можно выбрать Telegram'], ['Все задачи ведем во FreshDesk', 'Куда у вас будет доступ и где будет храниться вся история при работе с задачами'], ['Заводим все запланированные задачи ', 'Мы сами заведем все запланированные задачи и пришлем вам на согласование'], ['Контроль', 'По выполнению каждой задачи мы отписываемся в Slack / Telegram'], ['Ежемесячные стратегические сессии', 'Каждый месяц мы проводим аудит вашей инфраструктуры и проактивно предлагаем решения по ее модернизации']]
                .steps__entry-outer
                    .steps__entry
                        .entry__icon
                            img(src='/img/svg/steps/0' + (index + 1) + '.svg' alt='')
                        .entry__text
                            .entry__title!=entry[0]
                            - if(entry[1])
                                p!=entry[1]