mixin reviewsEntry(name, position, logo, text, isModal, modalType)
    .reviews__entry()
        .entry__head
            .head__left
                .entry__name=name
                .entry__position=position
            - if (logo)
                img.entry__logo(src='/img/clients/' + logo + '.png' alt='')
        .entry__text!=text
        a.entry__more(class=(isModal ? isModal : false) href='#' data-modal=(modalType ? modalType : false)) Читать полностью
