mixin reviewsEntry(name, position, logo, text)
    .reviews__entry(class='cases__entry_' + color)
        .entry__head
            .head__left
                .entry__name=name
                .entry__position=position
            - if (logo)
                img.entry__logo(src='/img/reviews/' + logo + '.png' alt='')
        .entry__text!=text
        a.entry__more(href='#') Читать полностью
