extends ../layouts/default

block variables
	- const title = "Направления";

block content
	.about
		.about__head
			.container
				h1.about__title О компании
				p Компания Fevlake работает с 2012 года. Наше основное направление – это проектирование и обслуживание IT-инфраструктур. <br>Для профессионального решения этой задачи мы собрали команду DevOps-инженеров со всего мира.
				.about__staff
					.staff__entry
						.entry__img
							img(src='/img/Vasiliy.jpg' alt='')
						.entry__name Озеров Василий
						.entry__position Founder Fevlake / DevOps
					.staff__entry
						.entry__img
							img(src='/img/Ilya.jpg' alt='')
						.entry__name Федичкин Илья
						.entry__position Co-founder Fevlake Marketing  & Development
		.about__mission
			.container
				p Наша миссия - избавить вас от всех проблем с инфраструктурой и тем самым дать возможность эффективно развивать ваш продукт.
				p Мы готовы решить любые задачи. Но наша главная цель - подобрать оптимальное по эффективности, денежным и трудозатратам решение вашей задачи. Если для него потребуется установить IIS под Windows 2016 - мы сделаем именно это, а не будем уговаривать вас на внедрение «модных», но малоэффективных в вашем случае технологий.
				p Если для вашей задачи нужна «стамеска», мы не будем решать ее «молотком». Мы найдем тот инструмент, который поможет решить вашу задачу оптимально.
		.about__why
			.container
				.why__title Почему нас выбирают?
				.why__list
					each entry in [['Мы всегда на связи и реагируем на алерты 24/7.', 'Следим за всеми новыми технологиями и подтверждаем свой опыт сертификатами. Наши специалисты сертифицированы по программам Docker, Kubernetes, Google Cloud Architect, Red Hat.'], ['Мы не являемся вендором ИТ-производителей, поэтому свободны в выборе и подбираем те продукты и технологии, которые будут наиболее эффективны для вашей компании.', 'Мы стремимся слушать и слышать запросы наших клиентов. Так, недавно в нашей команде появились администраторы баз данных, так как у клиентов возникла потребность, чтобы мы поддерживали не только инфраструктуру, но и базы данных, аналитику и др.']]
						.why__col
							each child in entry
								.why__entry=child
		.about__rebrain
			.container
				.rebrain__left
					.rebrain__title Fevlake & Rebrain
					p В 2018 году мы создали на базе «боевого» опыта Fevlake компанию Rebrain. Проводим практикумы для специалистов по ИТ-инфраструктуре – DevOps-инженеров, системных администраторов Linux, специалистов по работе с высокими нагрузками. Если вам нужно «вырастить» компетентного ИТ-специалиста внутри компании, мы готовы поделиться своим практическим опытом и помочь вам в этом.
				a.rebrain__logo(href='https://rebrainme.com/' target='_blank')
					img(src='/img/svg/rebrain_logo.svg' alt='')
	include ../../blocks/modules/blogs/blogs
block scripts
	//script(src="js/services.js")
	script(src="js/vendor.js")
