extends ../layouts/default
include ../../blocks/_mixins/case
block variables
	- const title = "Блокировка спам запросов на nginx + lua";

block content
	.case
		.container.block_padding
			a.btn-back(href='cases.html') Вернуться к кейсам
			h1.case__title=title
			.case__tags
				each entry in ['docker', 'kuber', 'highload']
					a.tags__lnk(href='#')=entry
			.case__content
				p
					strong Задача
				p IT-инфраструктура на аутсорсе - это не цель наших заказчиков, но Fevlake является оптимальным решением. Мы понимаем, что перейти на аутсорс - это волнительное и важное решение для бизнеса. поэтому мы сделали все, для того чтобы весь процесс был максимально прозрачным
				blockquote
					p IT-инфраструктура на аутсорсе - это не цель наших заказчиков, но Fevlake является оптимальным решением.
					p Мы понимаем, что перейти на аутсорс - это волнительное и важное решение для бизнеса. поэтому мы сделали все, для того чтобы весь процесс был максимально прозрачным
					p IT-инфраструктура на аутсорсе - это не цель наших заказчиков, но Fevlake является оптимальным решением.
					p Мы понимаем, что перейти на аутсорс - это волнительное и важное решение для бизнеса. поэтому мы сделали все, для того чтобы весь процесс был максимально прозрачным
				p
					strong Решение
				p IT-инфраструктура на аутсорсе - это не цель наших заказчиков, но Fevlake является оптимальным решением. Мы понимаем, что перейти на аутсорс - это волнительное и важное решение для бизнеса. поэтому мы сделали все, для того чтобы весь процесс был максимально прозрачным
				br
				br
				a.btn-back(href='cases.html') Вернуться к кейсам
	include ../../blocks/modules/blogs/blogs
block scripts
	//script(src="js/services.js")
	script(src="js/vendor.js")
