extends ../layouts/default
include ../../blocks/_mixins/case
block variables
	- const title = "Свяжитесь с нами";
	-
		const contacts = [{
			title: 'Отдел продаж',
			phone: '+7 499 113 35 51',
			email: 'im@fevlake.com'
		}, {
			title: 'Отдел по работе <br>с партнерами',
			email: 'info@rebrainme.com'
		}]
block content
	.contacts
		.container.block_padding
			h1.contacts__title=title
			.contacts__list
				each entry in contacts
					.contacts__entry
						.entry__title!=entry.title
						- if (entry.phone)
							.entry__caption Телефон
							a(href='tel:' + entry.phone)=entry.phone
						.entry__caption E-mail:
						a(href='mailto:' + entry.email)=entry.email
		.contacts__bottom
			.contacts__address
				.address__cell
					.contacts__title Наш адрес
						p ООО «ФевЛейк» <br>ИНН 7733243649 <br>КПП 773301001 <br>ОГРН 1157746702365
						p Адрес юридический: 125362, г. Москва, ул. Свободы, д. 17, этаж - подвал, пом. I, комн. 3, офис 1. <br>Адрес почтовый: 125362, г. Москва, ул. Свободы, д. 17, этаж - подвал, пом. I, комн. 3, офис 1.
			.contacts__map
				#map

	include ../../blocks/modules/blogs/blogs
block scripts
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="js/contacts.js")
	script(src="js/vendor.js")
