extends ../layouts/default
include ../../blocks/modules/tags/tags
block variables
	- const title = "Kubernetes";
block content
	.service
		.service__head
			.container
				.head__left
					.service__title Kubernetes
					.service__term *Работаем с 2012 года
					ul
						li Разворачиваем облачные и bare metal кластера Kubernetes
						li Пишем helm чарты и деплой на Gitlab CI
					button.btn.btn_lg.btn_green.js-modal-open(data-modal='modal-request') Оставить заявку на аудит
				.head__techs
					.techs__img
						img(src='/img/svg/techs/kubernetes.svg' alt='')
					.techs__dots
						each entry in ['ansible', 'clickhouse', 'cloudcdn', 'computecloud', 'computeengine', 'docker', 'gitlab', 'go', 'haproxy', 'helm']
							.dots__entry
								img(src='/img/svg/techs/' + entry + '.svg' alt='')
				+tags('green', ['Поддержка 24/7', 'Мониторим 24/7 ', 'SLA 5 min'])
		include ../../blocks/modules/clients/clients
		.service__features
			.container
				.service__title Услуги
				.features__text
					p Мы выполнили большое количество проектов с использованием Kubernetes.
					p Наши сотрудники получили сертификацию CKA и готовы поддерживать и обслуживать ваш kubernetes кластер. Также мы можем помочь в миграции вашего приложения в Kubernetes.
				.features__list
					each entry, index in [['Кластер', 'Настраиваем облачные и bare metal кластера', 'cluster'], ['CI/CD', 'Настраиваем полный цикл CI/CD для вашего приложения', 'cicd'], ['Monitoring', 'Собираем логи и метрики, а также настраиваем нотификации о проблемах', 'monitoring'], ['Миграция', 'Докеризируем ваше приложение и описываем helm чарт для его деплоя', 'migration'], ['Security', 'Настраиваем RBAC для контроля доступа и Vault для хранения секретов', 'security']]
						.features__entry
							.entry__icon
								img(src='/img/svg/features/' + entry[2] + '.svg' alt='')
							.entry__title=entry[0]
							p=entry[1]
				.features__disclaimer Мы не замыкаем процессы на себе - все инструменты, которые мы используем, будут доступны всей команде. <br>От руководства до администраторов. Все смогут следить за тем, что происходит в проекте.
		.service__stack
			.container
				.stack__wrap
					.service__title Технологический стек
					.stack__list
						each entry in [['Kubernetes', 'Используем percona mysql для хранения данных', 'kubernetes'], ['Helm', 'Используем proxy для роутинга запросов на различные хосты', 'helm'], ['Terraform', 'Используем для автоматического переключения приложений', 'terraform'], ['Prometheus operator', 'Используем для создания бекапа данных', 'prometheus'], ['Certmanager', 'Настраиваем для автоматического переключения на резервный хост в случае проблем', 'certmanager'], ['GitlabCI', 'Настраиваем всю инфраструктуру через код', 'gitlab'], ['EFK', 'Анализируем медленные запросы', 'efk'], ['DNS', 'Меняем схему таблиц в онлайн режиме без простоя', 'dns'], ['Internal Tools', 'Используем собственные наработки для анализа медленных запросов и некорректных настроек базы', 'internal']]
							.stack__entry
								.entry__icon
									img(src='/img/svg/stack/' + entry[2] + '.svg' alt='')
								.entry__title=entry[0]
								.entry__text=entry[1]
		include ../../blocks/modules/cases/cases
		include ../../blocks/modules/reviews/reviews
		.service__training
			.container
				.training__left
					.training__subtitle Обучение с Fevlake
					.training__title Мы создали одно из самых крупных сообществ специалистов по инфраструктуре в СНГ <br><br>И площадку
						a(href='https://rebrainme.com') Rebrainme.com
				.training__right
					.training__form
						.form__title Нужно развить команду / Нанять DevOps-инженера
						p Вопросы, которые можем решить:
						ul
							li Аудит компетенций вашего коллектива
							li Требуется повысить квалификацию сотрудников
							li Нужно нанять в штат инженера
						a.btn.btn_md.btn_green(href='https://rebrainme.com/educorp/' target='_blank') Обучить сотрудников
						button.btn.btn_md.btn_navy.js-modal-open(data-modal='modal-request') Запросить готовых DevOps-инженеров
					.training__hint *Практикум проходят более 1000 человек
	include ../../blocks/modules/blogs/blogs


block scripts
	script(src="js/kubernetes.js")
	script(src="js/vendor.js")
