extends ../layouts/default
include ../../blocks/modules/tags/tags
block variables
	- const title = "Mysql";
block content
	.service
		.service__head
			.container
				.head__left
					.service__title Mysql
					.service__term *Работаем с 2012 года
					ul
						li Настроим и оптимизируем mysql под ваши потребности
						li Реализуем master-master с автоматическим переключением
					button.btn.btn_lg.btn_green.js-modal-open(data-modal='modal-request') Оставить заявку на аудит
				.head__techs
					.techs__img
						img(src='/img/svg/techs/mysql.svg' alt='')
					.techs__dots
						each entry in ['ansible', 'clickhouse', 'cloudcdn', 'computecloud', 'computeengine', 'docker', 'gitlab', 'go', 'haproxy', 'helm']
							.dots__entry
								img(src='/img/svg/techs/' + entry + '.svg' alt='')
				+tags('green', ['Поддержка 24/7', 'Мониторим 24/7 ', 'SLA 5 min'])
		include ../../blocks/modules/clients/clients
		.service__features
			.container
				.service__title Услуги
				.features__text
					p Мы разрабатываем уникальные решения для хранения и использования данных конкретно под вас и ваши задачи.
					p Оптимизируем запросы, создаем индексы, настраиваем автоматическое переключение, а также балансировку запросов между различными инстансами mysql.
				.features__list
					each entry, index in [['High Availability', 'Настроим master-master с автоматическим переключением', 'avail'], ['Оптимизация', 'Настраиваем VPN для доступа к вашей приватной сети', 'security'], ['Backups', 'Настроим автоматическое резервирование баз по расписанию', 'backups'], ['Performance', 'Настроим кластер слейвов и закинем на них все запросы на чтение', 'performance'], ['Monitoring', 'Обеспечим снятие метрик с кластера кликхауса и разберем все возникающие инциденты', 'monitoring']]
						.features__entry
							.entry__icon
								img(src='/img/svg/features/' + entry[2] + '.svg' alt='')
							.entry__title=entry[0]
							p=entry[1]
				.features__disclaimer Мы не замыкаем процессы на себе - все инструменты, которые мы используем, будут доступны всей команде. <br>От руководства до администраторов. Все смогут следить за тем, что происходит в проекте.
		.service__stack
			.container
				.stack__wrap
					.service__title Технологический стек
					.stack__list
						each entry in [['Mysql', 'Используем percona mysql для хранения данных', 'mysql'], ['SQL Proxy', 'Используем proxy для роутинга запросов на различные хосты', 'sql'], ['Haproxy', 'Используем для автоматического переключения приложений', 'haproxy'], ['XtraBackup', 'Используем для создания бекапа данных', 'xtrabackup'], ['Keepalived', 'Настраиваем для автоматического переключения на резервный хост в случае проблем', 'keepalived'], ['Ansible', 'Настраиваем все инфраструктуру через код', 'ansible'], ['Percona tools', 'Анализируем медленные запросы', 'percona'], ['gh-ost', 'Меняем схему таблиц в онлайн режиме без простоя', 'ghost'], ['Internal Tools', 'Внутренние инструменты, например, для переливки инстансов mysql в realtime режиме', 'internal']]
							.stack__entry
								.entry__icon
									img(src='/img/svg/stack/' + entry[2] + '.svg' alt='')
								.entry__title=entry[0]
								.entry__text=entry[1]
		include ../../blocks/modules/cases/cases
		include ../../blocks/modules/reviews/reviews
		.service__training
			.container
				.training__left
					.training__subtitle Обучение с Fevlake
					.training__title Мы создали одно из самых крупных сообществ специалистов по инфраструктуре в СНГ <br><br>И площадку
						a(href='https://rebrainme.com') Rebrainme.com
				.training__right
					.training__form
						.form__title Нужно развить команду / Нанять DevOps-инженера
						p Вопросы, которые можем решить:
						ul
							li Аудит компетенций вашего коллектива
							li Требуется повысить квалификацию сотрудников
							li Нужно нанять в штат инженера
						a.btn.btn_md.btn_green(href='https://rebrainme.com/educorp/' target='_blank') Обучить сотрудников
						button.btn.btn_md.btn_navy.js-modal-open(data-modal='modal-request') Запросить готовых DevOps-инженеров
					.training__hint *Практикум проходят более 1000 человек
	include ../../blocks/modules/blogs/blogs


block scripts
	script(src="js/mysql.js")
	script(src="js/vendor.js")
