extends ../layouts/default
block variables
	- const title = "Отзывы";
	-
		const reviews = [{
			name: 'Алексей Литвинов',
			position: 'CTO, КупиКупон',
			logo: '01',
			text: '<p>За все время работы команда проявила себя профессиональным и надежным партнером по всем вопросам, связанным с инфраструктурой.</p><p>Больше всего нравится в работе то, что всегда есть человек на связи, причем не просто какой-то инженер, а специалист, который знает наш проект, понимает, где, что лежит и что необходимо делать. Это очень удобно, не надо объяснять каждый раз заново, и есть ощущение спокойствия.</p><p>Второе - круглосуточная поддержка и SLA. Это реально круглосуточная поддержка, 24 часа в сутки. По SLA - ребята работают достаточно оперативно, проблем нет.</p><p>Последнее, что хотелось бы отметить, - высокая экспертиза команды, процесс не выглядит как - мы сказали, что хотим, команда просто повторила все один в один, специалисты всегда скажут свое мнение, предложат более эффективные варианты. Чувствуешь, что у тебя точно будет самое лучшее решение.</p><p>Рекомендовали и будем продолжать рекомендовать Fevlake.</p>'
		}, {
			name: 'Dmitry Shkolnikov',
			position: 'Airpush',
			text: '<p>Vasily took all dev-ops and infrastructure from the very beginning and participated tightly in company growth.</p><p>He took major part in building modern Internet-enterprise-grade lean infrastructure capable of scaling, high performance and high availability. Every infrastructure peace was measured and it’s role in business was identified. Vasily helped a lot In building such a transparent infrastructure layer. Also I can’t skip mentioning his 101% dedication to business itself and business continuity: if any issue arose Vasily elaborated on it in a timely manner without regards to time or day. Vasily is a very T-shaped person: he proved himself not only as an engineer and technical leader, but also as a perfect organiser, people manager, trainer and mentor for junior team members. He achieved to build the solid team capable of solving any task or issue.</p>'
		}, {
			name: 'Расул Сидаметов',
			position: 'BKC',
			logo: '13',
			text: '<p>Работаем с Fevlake чуть меньше года, пришли по рекомендации. О выборе не жалеем, специалисты в команде профессиональные.</p><p>Больше всего нравится оперативность в решении задач, то, что у ребят в команде сотрудники широкого профиля, и, что важно, они доходчиво поясняют причины проблем и выбор решения.</p><p>По SLA и реакции на инциденты 24/7 вопросов нет, всегда все вовремя.</p><p>Могу рекомендовать Fevlake как хороших профессионалов.</p>'
		}, {
			name: 'Кирилл Мухин',
			position: 'ГлавДоставка',
			text: '<p>С Fevlake начали работать по рекомендации.</p><p>С командой работать нравится, чаще, конечно, обращения приходят от нашего отдела разработки, но никаких жалоб и нареканий нет. Больше всего в работе нравится хорошая скорость отклика, профессионализм команды и то, что специалисты всегда готовы оказать помощь либо проконсультировать.</p><p>Продолжаем работу с Fevlake.</p>'
		}, {
			name: 'Михаил Сахаров',
			position: 'windy.app',
			logo: '11',
			text: '<p>В Fevlake пришли по рекомендации коллег, которые обслуживали наш проект.</p><p>По работе все нравится, ребята мониторят сбои, терпят и обрабатывают все наши изъяны инфраструктуры стартапа. С пониманием и гибко относятся к нашим задачам по развитию инфраструктуры.</p><p>Готовы брать задачи, в которых надо разбираться и искать решение (а не ограничиваться тривиальными решениями).</p><p>Порекомендовал бы я Fevlake? Безусловно, да.</p>'
		}, {
			name: 'Дмитрий Ушков',
			position: 'CTO, INMYROOM',
			logo: '06',
			text: '<p>С Fevlake мы работаем очень давно, в нашем случае держать своего фулл-тайм девопса не очень целесообразно, а формат аутсорса очень удобен.</p><p>В работе нам больше всего нравится: <br>1. Что руководитель Fevlake Василий Озеров сам включается в процесс по необходимости. <br>2. Скилл ребят. Обычно получается все нужные вопросы решить без проблем. <br>3. Сам процесс взаимодействия достаточно удобный и приятный.</p><p></p>С SLA и поддержкой 24/7 проблем нет, команда вовремя реагирует.</p><p>Рекомендую Fevlake как надежного партнера.</p>'
		}, {
			name: 'Дмитрий Журавленко',
			position: 'CTO, ФСК Лидер',
			logo: '07',
			text: '<p>Сменили штатного DevOps инженера на Fevlake, ни разу не пожалели, потому что: <br>• выгодно — для организации непрерывной поддержки в штате нужно держать как минимум двух инженеров (отпуска, болезни), для стартапа может быть тяжело при текущих расценках на грамотных DevOps; <br>• масштабируемо — подключают дополнительные ресурсы, если требуется оперативное решение задачи; <br>• кумулятивные знания — в зависимости от задачи назначают специалиста с наиболее релевантным опытом (развернуть кластер? перенести .Net решение с IIS в Docker? настроить APM? запустить blockchain ноду? предложить решение для масштабирования сервиса? написать скрипт автоматизации?); <br>• не навязывают решения — всегда прислушиваются к предпочтениям, дают объективную оценку, исходя из своего опыта, альтернативные варианты, но финальное решение всегда за клиентом; <br>• не накручивают косты — очень прозрачная ценовая политика, no strings attached; <br>• не боятся работы — еще ни разу не было, чтобы отказались делать задачу, какой бы сложной ни казалась; <br>• высокий профессионализм — ответственно подходят к задачам, развитая внутренняя система менеджмента качества.</p><p>Был опыт работы с другими outsource компаниями, в них сталкивались с жесткими требованиями к решениям (используем то, к чему привыкли, иначе ценник x2), перегруженностью специалистов (выполнение задач затягивалось). В итоге, уже на втором проекте работаем с Fevlake, рекомендую всем.</p>'
		}, {
			name: 'Павел Шаповалов',
			position: 'CTO, Chatex',
			logo: '04',
			text: '<p>Мы занимаемся разработкой Chatex - приложения, которое позволяет совершать переводы, хранить и обменивать криптовалюту самым простым способом.<p><p>Когда начинали работать, DevOps-инженеров в штате не было, все задачи перекидывали на разработчиков для выполнения в свободное время.</p><p>Когда поняли, что в этом случае уделяем недостаточно времени непосредственно продукту, решили привлечь подрядчиков на обслуживание инфраструктуры. Компанию не выбирали, так как ранее я имел опыт работы с Fevlake и знал отношение команды к их работе.</p><p>Работой довольны, все задачки которые попадают в беклог решаются в срок, команда всегда на связи. Отдельно хотелось бы отметить такие моменты:</p><p>Поддержка 24/7 - я знаю, что, если произойдет какой-то инцидент, а разработчики ушли в отпуск, заболели или недоступны, дежурные Fevlake всегда подключатся и помогут. Когда начинали с Kubernetes, дали задачу на старте, проговорили все нюансы и цели. Дальше не нужно пинать и подгонять команду. Задачи изолированная, голова за нее не болит. Высокое качество специалистов, не надо ничего разъяснять по 100 раз, в команде достаточно квалифицированные сотрудники с хорошим опытом, которые сразу понимают, что нужно сделать.</p><p>Сейчас продолжаем работу с Fevlake, со своей стороны модернизируем инфраструктуру, чтобы отдать команде новые задачи.</p><p>Сотрудничеством довольны.</p>'
		}, {
			name: 'Илья Дроздов',
			position: 'CEO, Finery',
			logo: '03',
			text: '<p>When we were looking for a DevOps engineer, one of our developers recommended working with FevLake as an alternative. It was 2 years ago. Since then we have never doubted our choice!</p>'
		}, {
			name: 'Алексей Наймушин',
			position: 'CEO, Otken Digital',
			text: '<p>С компанией Fevlake мы работаем по нескольким проектам.</p><p>Первый из них длится уже более 2-х лет. В течение этого времени Fevlake отвечает за бесперебойную работу как минимум 10 сайтов.</p><p>Ни для кого не секрет, что в работе хостинга бывают сбои. Но служба мониторинга Favlake всегда работает оперативно, сообщает о возникших проблемах. Время реакции  команды Fevlake всегда на высоте.</p><p>Второе направление сотрудничества - поддержка инфраструктуры и управление развертыванием сред. Если мне требуется настройка CI/CD, всегда обращаюсь в Fevlake, вне зависимости от того, какие технологии используются в разработке.</p>'
		}, {
			name: 'Антон Галченко',
			position: 'СТО, Xena Exchange',
			text: '<p>Когда начинали работу с Fevlake, была очень важна скорость, мы оказались в ситуации, когда нужно было очень быстро развернуть инфраструктуру, потому что предыдущий подрядчик не успел развернуть ее в срок.</p><p>В Fevlake обратились по рекомендации коллег. Задача была такая - развернуть всю инфраструктуру с полного 0 за неделю.</p><p>Проект получился успешным, ребята очень сильно выручили, потому что сроки реально горели.</p><p>Сейчас продолжаем сотрудничать с Fevlake в части поддержки инфраструктуры на аутсорсе.</p><p>В процессе работы больше всего нравится оперативность в реагировании, высокая экспертиза (помогали и помогают во многих вопросах, с которыми самим сложно было бы справиться) и стоимость обслуживания, для нашего бюджета это выгодно.</p><p>Реакцией на инциденты я доволен.</p><p>С удовольствием рекомендую коллегам агентство Fevlake.</p>'
		},  {
			name: 'James Ahearne',
			position: 'CEO, GoSay',
			text: '<p>До того, как начали работать с Fevlake, мы рассматривали много-много других компаний. Команда Fevlake оказалась самой отзывчивой, они смогли обсудить задачи не на техническом языке, а доступно объяснять всей команде заказчика цели и пути их решения. Помимо этого, у ребят уже был большой опыт сотрудничества с корпорациями.</p><p>Работой Fevlake остались полностью довольны. Хотел бы обратить внимание на быструю реакцию на наши запросы (это было критично и важно), команда всегда может донести суть процесса и задачи до всей команды. Отмечу и высокую компетенцию членов команды Fevlake.</p><p>Команда заказчика - корпорация РОСАТОМ - также довольна работой. Могу рекомендовать Fevlake как надежного и экспертного партнера.</p>'
		},  {
			name: 'Сергей Смолин',
			position: 'СТО, Ambiz',
			logo: '10',
			text: '<p>Мы обратились в Fevlake по рекомендации, ни на секунду не сомневались в компетенции ребят, так и получается по сей день. </p><p>Для нас было важно, чтобы в случае наступления инцидента, по нашей ошибке или в силу объективных обстоятельств, на решение проблемы были действительно брошены все силы в любое время.</p><p>Команда Fevlake соответствует этому требованию, видно, что вся команда включается и работает профессионально.</p><p>Нам очень нравится, что ребята нацелены на свободные решения и незалоченность на вендоров. Симпатично, что не замыкают все на себе. </p><p>У нас отличная команда, но, как в любой компании, иногда мы бываем не дисциплинированы в некоторых рабочих процессах и в авральном режиме загружаемся задачами. Приятно, что ребята помогают с этим и помогают планировать и разобраться, чтобы таких ситуаций было меньше.</p><p>Мы верим в команду Fevlake и можем рекомендовать ее к сотрудничеству.</p>'
		}, ]
block content
	include ../../blocks/modules/page_head/page_head
	+pageHead(title, '')
	.container.block_padding
		include ../../blocks/_mixins/review
		.reviews
			.reviews__list
				each entry in reviews
					+reviewsEntry(entry.name, entry.position, entry.logo, entry.text, false, false)
		include ../../blocks/modules/pagenav/pagenav
	include ../../blocks/modules/blogs/blogs
block scripts
	script(src="js/reviews.js")
	script(src="js/vendor.js")
