.reviews {

    .btn-container {
        margin: 0;
    }

    .slick-list {
        padding: 0 0 50px;

        @media(max-width: 767px) {
            padding-right: 10%;
            padding-bottom: 30px;
        }
    }

    .slick-track {
        display: flex;
    }
    
    &__title {
        position: relative;
        margin: 0 0 50px;
        padding: 55px 0 0;
        font-weight: 600;
        font-size: 42px;
        line-height: 51px;
        text-align: center;
        color: #1b2331;

        @media(max-width: 1300px) {
            font-size: 36px;
            line-height: 42px;
            margin: 0 0 40px;
            padding: 40px 0 0;
        }

        @media(max-width: 767px) {
            margin: 0 0 30px;
            font-size: 32px;
            line-height: 40px;
        }

        @media(max-width: 400px) {
            font-size: 26px;
            line-height: 36px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 76px;
            height: 36px;
            margin: auto;
            background: url(../../../img/svg/reviews.svg) no-repeat;

            @media(max-width: 1300px) {
                transform: scale(.7, .7);
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: -12px;

        @media(max-width: 767px) {
            margin: 0;
        }

        &.slick-slider {
            margin: 0;

            .reviews__entry {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    &__entry {
        box-sizing: border-box;
        display: flex !important;
        flex-direction: column;
        width: calc(100% / 3 - 24px);
        height: auto !important;
        margin: 12px;
        padding: 30px 20px;
        float: none;
        background: #ffffff;
        box-shadow: 0 20px 40px rgba(2, 54, 97, 0.2);
        border-radius: 4px;

        @media(max-width: 1060px) {
            width: calc(50% - 24px);
        }

        @media(max-width: 767px) {
            width: 100%;
            margin: 0 0 20px;
        }

        .entry__head {
            display: flex;
            align-items: center;
            margin: 0 0 15px;

            @media(max-width: 400px) {
                flex-direction: column-reverse;
                align-items: flex-start;
            }
        }

        .entry__logo {
            display: block;
            margin-left: auto;
            max-width: 140px;
            max-height: 45px;

            @media(max-width: 400px) {
                margin: 0 0 10px;
            }
        }

        .entry__name {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #1b2331;
        }

        .entry__position {
            font-weight: 100;
            letter-spacing: 0.5px;
            font-size: 14px;
            line-height: 24px;
            color: #7c8ca4;
            font-style: italic;
        }

        .entry__text {
            height: 140px;
            overflow: hidden;
            margin: 0 0 10px;
            font-size: 16px;
            line-height: 24px;
            color: #1b2331;

            @media(max-width: 1300px) {
                font-size: 14px;
                line-height: 20px;
            }

            @media(max-width: 767px) {
                height: auto;
            }

            &:after {
                content: "..";
            }

            p {
                display: none;

                &:first-child {
                    display: inline;
                }
            }
        }

        .entry__more {
            display: flex;
            align-items: center;
            margin-top: auto;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: $colorgreen;

            &:hover {
                color: $colorgreen_hover;
            }
        }

        &.opened {
            .entry__text {
                height: auto;

                &:after {
                    content: none;
                }

                p {
                    display: block;
                }
            }
        }
    }
}

.mainpage {
    .reviews {
        padding: 80px 0 50px;
        background: linear-gradient(to bottom, #dfebf4, #fff);

        @media(max-width: 1300px) {
            padding-top: 60px;
        }

        @media(max-width: 400px) {
            padding: 40px 0;
        }

        &__entry {
            width: auto;
        }
    }
}