.main-about
    .container
        .main-about__head
            img.head__photo(src='/img/Vasily_2.png' alt='')
            .head__left
                .head__name Василий Озеров
                .head__position Генеральный директор, Fevlake
        p IT развивается очень быстро и давно перешло в ранг инструментов, которые помогают бизнесу работать эффективней. Так, в 2008 году появился DevOps, который в разы ускорил выход релизов и упростил взаимодействие с ИТ-службами, в 2013 - Docker, в 2014 – Kubernetes. Инфраструктуры переезжают в облака. Разработчики пишут на множестве языков. Баз данных становится все больше - mysql, postgresql, percona, mariadb, mongo, clickhouse и многие другие.
        p Но бизнес это разнообразие только пугает. Ведь нужно выбрать из огромного списка те решения и продукты, которые подойдут именно вашему бизнесу. И что важно – позволят повысить его эффективность.
        p Мы хорошо сертифицированы и владеем широким технологическим стеком. Но главная цель всегда - решить вашу проблему, а не внедрить модный инструмент только потому, что он у всех на слуху. Мы будем искать оптимальное по эффективности, денежным и трудозатратам решение вашей задачи, не важно средняя, или крупная компания обращается к нам. Если для него потребуется установить IIS под Windows 2016, разобраться в данных и перенести всю аналитику в Clickhouse или уйти от железных решений и переехать в облака - мы сделаем это.
        p Мы всегда рядом, если нужна помощь.
        p.main-about__specialists-title В команде сертифицированные специалисты:
        ul.main-about__specialists-list
            each entry in [['docker', 'Docker'], ['kuber', 'Kubernetes'], ['ccna', 'CCNA']]
                li.main-about__specialists-entry
                    .main-about__specialists-entry__img
                        img(src='/img/svg/logo_' + entry[0] + '.svg' alt='')
                    span=entry[1]
        img.main-about__yandex(src='/img/svg/yandex.svg' alt='')
