include ../../_mixins/case
-
    const cases = [{
        color: 'navy',
        title: 'Настройка gitlab CI для <br>проекта на golang',
        taskText: 'Задача: Настроить бесшовное обновление демона в докере с помощью ansible & nginx.'
    }, {
        color: 'red',
        title: 'Блокировка спам запросов на nginx + lua',
        taskText: 'Задача: Необходимо блокировать кривые запросы на API, основываясь на отправленных пользователем данных'
    }, {
        color: 'purple',
        title: 'Написание ansible роли для базовой настройки',
        taskText: 'Задача: Привести все сервера к единому состоянию и настроить мониторинг'
    }, {
        color: 'orange', title: 'Написание ansible роли для базовой настройки',
        taskText: 'Задача: Привести все сервера к единому состоянию и настроить мониторинг'
    }, {
        color: 'green', title: 'Настройка gitlab CI для <br>проекта на golang',
        taskText: 'Задача: Настроить бесшовное обновление демона в докере с помощью ansible & nginx.'
    }, {
        color: 'blue', title: 'Блокировка спам запросов на nginx + lua',
        taskText: 'Задача: Необходимо блокировать кривые запросы на API, основываясь на отправленных пользователем данных'
    }, ]
.cases
    .container
        .cases__title Кейсы Fevlake
        .cases__list
            each entry in cases
                +casesEntry(entry.color, entry.title, entry.taskText)
        .btn-container
            a.btn.btn_green(href='cases.html') Все кейсы Fevlake

