.banner
    .container
        p.banner__subtitle Управление IT инфраструктурой
        h1.banner__title Сфокусируйтесь на бизнесе и разработке <br>доверьте инфраструктуру Fevlake*
        p.banner__subtitle * работаем с 2012 года
        button.btn.btn_lg.btn_green Заявка на аудит
        .banner__tags
            each entry in ['Проектирование', 'Администрирование', 'Консалтинг', 'Мониторинг', 'Управление', 'Поддержка 24/7', 'SLA']
                .tags__entry=entry
