.clients
    .clients__title Наши клиенты
    ul.clients__list
        each entry in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', ]
            li.clients__entry
                img(src='/img/clients/' + entry + '.png' alt='')