footer.footer
    .container
        .footer__top
            .footer__left
                a.footer__logo(href='/')
                a.footer__mail(href='mailto:info@rebrainme.com') info@rebrainme.com
                a.footer__phone(href='tel:+74994041813') +7 499 404 18 13
                .footer__social
                    a.social__lnk.social__lnk_tg(href='https://t.me/joinchat/AAAAAETc75DiLg-f4OGQ_w' target='_blank')
                    a.social__lnk.social__lnk_fb(href='https://www.facebook.com/DevOps-by-Fevlake-545141639253081/' target='_blank')
                    a.social__lnk.social__lnk_mail(href='mailto:info@rebrainme.com' target='_blank')
                .footer__lang
                    a.lang__lnk.lang__lnk_current(href='#') Ru
                    a.lang__lnk(href='#') En
            .footer__menu
                ul.menu__list
                    li.menu__entry.menu__entry_title
                        a.menu__lnk(href='about.html') Компания
                    each entry, index in [['Направления', 'dirs.html'], ['Кейсы', 'cases.html'], ['О нас', 'about.html'], ['Отзывы', 'reviews.html'], ['Контакты', 'contacts.html']]
                        li.menu__entry(class={menu__entry_current: !index})
                            a.menu__lnk(href=entry[1])=entry[0]
                ul.menu__list
                    li.menu__entry.menu__entry_title
                        a.menu__lnk(href='#') Направления
                    each entry, index in [['DevOps', 'devops.html', '_self'], ['Clickhouse', 'clickhouse.html', '_self'], ['Yandex Cloud', 'yandex.html', '_self'], ['Kubernetes', 'kubernetes.html', '_self'], ['Администрирование Linux', 'linux.html', '_self'],  ['Mysql', 'mysql.html', '_self'], ['Google Cloud', 'google.html', '_self'], ['Docker Swarm', 'docker.html', '_self'], ['Education', 'https://rebrainme.com', '_blank']]
                        li.menu__entry(class={menu__entry_current: !index})
                            a.menu__lnk(href=entry[1] target=entry[2])=entry[0]
        .footer__bottom
            .footer__legacy
                .legacy__list
                    a.legacy__lnk(href='#') Политика конфиденциальности
                    a.legacy__lnk(href='#') Публичная оферта
                    a.legacy__lnk(href='#') Пользовательское соглашение
                .legacy__list
                    a.legacy__lnk(href='#') Согласие на обработку персональных данных
                    a.legacy__lnk(href='#') Согласие на получение рекламных материалов
            .footer__copy
                p ООО «ФевЛейк» <br>ИНН 7733243649 ОГРН 1157746702365
                p Юридический адрес: 125362, г. Москва, <br>ул. Свободы, д. 17, этаж - подвал, пом. I, комн. 3, офис 1

