.form__label {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 0 0 25px;
    transition: all 200ms linear;

    @media(max-width: 767px) {
        margin: 0 0 15px;
    }

    &_error {
        .form__input {
            border-color: #f00 !important;
            opacity: 1;

            &:hover {
                border-color: #f00 !important;
            }
        }
    }

    &_lg {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;

        @media(max-width: 767px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &_md {
        display: inline-flex;
        width: calc((100% / 2) - 20px);
        margin-left: 10px;
        margin-right: 10px;

        @media(max-width: 767px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &_sm {
        display: inline-flex;
        width: calc((100% / 3) - 20px);
        margin-left: 10px;
        margin-right: 10px;

        @media(max-width: 767px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &_xs {
        display: inline-flex;
        width: calc((100% / 4) - 20px);
        margin-left: 10px;
        margin-right: 10px;

        @media(max-width: 767px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.error {
        .form__input {
            border-color: #ff0000;
        }
    }
}

.form__caption {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -150%);
    font-size: 12px;
    line-height: 15px;
    color: #7c8ca4;
    transition: all 200ms linear;
}

.form__error {
    display: none;
    font-size: 14px;
    color: #ff0000;
}

.form__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #d2d2d2;
    padding: 25px 20px 14px;
    transition: all .2s;
    line-height: 17px;
    font-family: $ffbase;
    font-size: 14px;
    background: #fff;
    outline: none;
    border-radius: 4px;

    &::placeholder {
        opacity: 0;
    }

    &::-ms-clear {
        display: none;
    }

    &:hover {
        border-color: #ccc;
    }

    &_textarea {
        width: 100%;
        height: 160px;
        padding: 13px 17px 10px;
        resize: none;
        line-height: 20px;
        font-weight: 400;
    }

    &:focus + .form__caption, &:not(:placeholder-shown) + .form__caption {
        transform: translate(0, -150%);
        font-size: 12px;
        line-height: 15px;
    }
}

.form__hint {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #7c8ca4;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}