ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
    line-height: 1;
}

a {
    text-decoration: none;
    color: $colorgrey;
    transition: all 200ms linear;

    &:not(.btn):hover {
        color: #000000;
    }
}

p {
    margin: 0;
}

*:focus {
    outline: none;
}